.demo {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 100px 150px;
    background-color: #6FB1D8;
}

.form {
    max-width: 400px;
    text-align: center;
    background-color: #4FA0CF;
    padding: 15px 20px;
    border-radius: 7px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    td, h2, p {
      text-align: left;
      font-weight: bold
    }

    p {
      font-weight: bold;
    }

    h2 {
        line-height: 0.5;
    }

    input {
      color: #000000;
      font-size: 1rem;
      border: #ffffff;
      padding: 7px;
      border-radius: 7px;
    }

  input:focus {
    border: #ffffff;
  }

    .bold-text {
        line-height: 2;
    }
}

#submit {
    margin-top: 10px;
  margin-bottom: 10px;
    padding: 10px;
    border-radius: 7px;
    font-size: 20px;
    cursor: pointer;
    color: #ffffff;
    background-color: #1c8dfe;
    border: #1c8dfe;
}

#submit:hover {
  color: #000;
}

ul {
  list-style-type: none;
  margin-left: -15px;
}
.container {
  display: flex;
  flex-direction: row;
  height: 600px;
  width: 350px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.li {
  color: #ffffff;
  margin-bottom: 5px;
  margin-right: 15px;
  background-color: #1c8dfe;
  padding: 10px;
  border-radius: 7px;
}
.li1 {
  color: #ffffff;
  margin-bottom: 20px;
  margin-right: 15px;
  background-color: #1c8dfe;
  padding: 10px;
  border-radius: 7px;
}

.center-col {
  flex: 1;
  background: #ffffff;
  overflow-y: scroll;
  border-radius: 7px;
}
